html {
  scroll-behavior: smooth; 
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.wrap-container {
  padding: 0 120px;
}

@media (max-width: 1439px) {
  .wrap-container {
    padding: 0 40px;
  }  
}
@media (max-width: 767px) {
  .wrap-container {
    padding: 0 15px;
  }  
}

.btn-hover:hover {
  background-color: #FFFFFF;
  color: #0D606F;
  transition: 0.3s;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.45), 0px 2px 3px rgba(13, 96, 111, 0.9);
}

.btn-hover:hover::before {
  filter: drop-shadow(2px 1px 1px #0D606F) brightness(95%);
}

/* Header */
.header {
  position: relative;
  margin-bottom: -90px;
  z-index: 1;
  width: 100%;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header-logo {
  width: 216px;
}

.header-logo img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.header-nav_icon {
  display: none;
}

.header-nav-background {
  display: none;
}

.header-nav {
  margin: auto 38px auto 0;
}

.header-nav_close {
  display: none;
}

.header-nav_list {
  display: flex;
  gap: 43px;
}

.header-nav_item--mv {
  display: none;
}

.header-nav_link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header-nav_link:hover {
  color: #0D606F;
  transition: color 0.3s;
  border-bottom: 2px solid #0D606F;
}

.header-btn {
  padding: 10px 31px 10px 30px;
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 1439px) {
  .header-logo {
    width: 180px;
  }

  .header-nav {
    margin: auto 10px auto 10px;
  }

  .header-nav_list {
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 827px) {
  .header {
    margin-bottom: -106px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-bottom: -119px;
  }
  .header-wrap {
    flex-direction: column;
    gap: 10px;
  }
  .header-logo {
    width: 120px;
  }
  .header-nav_list {
    gap: 10px;
  }
  .header-nav_link {
    font-size: 11px;
    line-height: 15px;
  }
  .header-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .header {
    background-color: initial;
    box-shadow: none;  
    margin-bottom: -75px;

    /* z-index: 100; */
  }

  .header-wrap {
    flex-direction: row;
    padding-top: 43px;
    padding-bottom: 0;
  }

  .header-logo {
    width: 29px;
    height: 30px;

    padding-top: 2px;
    padding-left: 1px;
  }

  .header-nav_icon {
    display: block;
    width: 35px;
    height: 32px;

    padding-right: 5px;
  }

  .header-nav_icon img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .header-nav-background {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    margin: 0;
    /* width: 100%;
    height: 100%; */
    /* background: blueviolet; */
    transition: all 0.5s;
  }

  .header-nav-background.menu-active {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .header-nav {
    position: fixed;
    top: -100%;
    right: 0;
    /* width: 165px;
    height: 250px; */
    margin: 0;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    transition: all 0.5s;
  }

  .header-nav.menu-active {
    top: 0;
    z-index: 10;
  }

  .header-nav_close {
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px 0 0 8px;
    margin-bottom: 6px;
  }

  .header-nav_close img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .header-nav_list {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 0 15px 30px 44px;
  }

  .header-nav_item--mv {
    display: block;
  }
  
  .header-form {
    display: none;
  }
}

/* Main */
/* Preview */
.preview {
  position: relative;
  margin-bottom: 80px;
}

.preview-wrap {
  height: 765px;
  background-image: url(../img/content/preview_bg-dv.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.preview-txt-b {
  padding-top: 122px;
  max-width: 892px;
}

.preview-title {
  margin-bottom: 32px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview-subtitle {
  margin-bottom: 46px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.preview-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px; 
}

.preview-form_input {
  margin: 0 0 0 41px;
  padding: 0;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background-color: initial;
  border: none;
}

.preview-form_input::placeholder {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview-form_input:focus {
  outline: 0;
  box-shadow: 0px 3px 0px rgba(158, 158, 158, 0.25), 0px 2px 0px rgba(158, 158, 158, 0.45);
}

.preview-form_btn {
  margin: 18px;
  padding: 13.5px 33.5px 13px 33.5px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  white-space: nowrap;
}

@media (max-width: 1439px) {
  .preview-wrap {
    height: 650px;
  }

  .preview-txt-b {
    padding-top: 200px;
  }  

  .preview-title {
    font-size: clamp(52px, 4.5vw, 80px);
    line-height: clamp(62px, 5.2vw, 96px);
  }
}

@media (max-width: 767px) {
  .preview {
    margin-bottom: 20px;
  }
  
  .preview-wrap {
    height: 351px;
    background-image: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../img/content/preview_bg-mv.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .preview-txt-b {
    padding-top: 220px;
    /* padding-top: 142px; */
  }

  .preview-title {
    display: none;
  }

  .preview-subtitle {
    display: none;
  }

  .preview-form {
    width: 85%;
  }

  .preview-form_input {
    margin: 2px 0 0 16.5px;
    font-size: 14px;
    line-height: 17px;
  }

  .preview-form_input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .preview-form_btn {
    margin: 9px;
    padding: 7.5px 9px 7.5px 9px;
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 390px) {
  .preview-wrap {
    height: 251px;

  }

  .preview-txt-b {
    padding-top: 142px;
  }

  .preview-form {
    width: 100%;
  }
}

@media (max-width: 389px) {
  .preview-form_input {
    margin: 2px 0 0 10.5px;
    font-size: 13px;
  }
}

/* Steps */
.steps {
  margin: 80px 0 97px 0;
}

.steps-title {
  margin-bottom: 40px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 60px;
  margin: 0 13px 0 11px;
}

.steps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.steps-item--2 {
  margin-left: 70px;
}

.steps-item_img {
  width: 100px;
}

.steps-item_img img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.steps-item_title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-align: center;
}

@media (max-width: 767px) {
  .steps {
    margin: 0 0 20px 0;
  }  

  .steps-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .steps-container {
    gap: 25px;
    margin: 0;
  }

  .steps-item {
    gap: 20px;
  }

  .steps-item--left {
    align-items: flex-start;
  }

  .steps-item--left .steps-item_title {
    text-align: left;
  }

  .steps-item--right {
    align-items: flex-end;
  }

  .steps-item--right .steps-item_title {
    text-align: right;
  }

  .steps-item--2 {
    margin-left: 22px;
  }

  .steps-item--2 .steps-item_title {
    white-space: nowrap;
  }

  .steps-item_img {
    width: 70px;
  }

  .steps-item_img img {
    border-radius: 16px;
  }

  .steps-item_title {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width: 389px) {
  .steps-container {
    flex-direction: column;
  }
  .steps-item--left {
    align-items: center;
  }
  .steps-item--2 {
    margin-left: 0;
  }
  .steps-item--right {
    align-items: center;
  }
}

/* Destinations */
.destinations {
  margin-bottom: 80px;
}

.destinations-title {
  margin-bottom: 46px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.destinations-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 24px;
}

.destinations-slide {
  position: relative;
  width: 18.05%;
}

.destinations-slide img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.destinations-slide--mid {
  width: 55.55%;
}

.destinations-slide_title {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.destinations-slider--mv {
  display: none;
}

.destinations-slider_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  margin-left: 1px;
}

.destinations-slider_dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(242, 120, 92, 0.5);
  cursor: pointer;
}

.destinations-slider_dot--mid {
  background-color: #F2785C;
}

.destinations-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 14px 32px 13.5px 82.5px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.destinations-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33px;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .destinations {
    margin-bottom: 20px;
  }  

  .destinations-wrap{
    padding: 0 15px;
  }

  .destinations-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .destinations-container {
    position: relative;
  }

  .destinations-slider {
    display: none;
  }

  .destinations-slider--mv {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  .destinations-slide--mv {
    width: 100%;
  }

  .destinations-slide_title {
    top: 8px;
    left: 15px;  
    font-size: 20px;
    line-height: 26px;
  }

  .destinations-slide--mv-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .destinations-arrow {
    width: 30px;
    cursor: pointer;
  }

  .destinations-arrow--left {
    padding-left: 5px;
  }

  .destinations-arrow--right {
    padding-right: 5px;
  }

  .destinations-arrow img {
    width: 100%;
    height: auto;
    vertical-align: middle;  
  }

  .destinations-slider_nav {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    gap: 6px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .destinations-slider_dot {
    width: 8px;
    height: 8px;
  }

  .destinations-slider_dot--mid {
    order: -1;
  }

  .destinations-btn {
    padding: 7.5px 12px 7.5px 28px;
    font-size: 11px;
    line-height: 15px;
  }

  .destinations-btn::before {
    left: 12px;
    width: 10px;
    height: 10px;  
  }
}

/* Stories */
.stories-title {
  margin-bottom: 40px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.stories-wrap {
  padding-bottom: 61px;
  background-image: url(../img/content/stories_bg-dv.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.stories-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.stories-container_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}

.stories-item {
  display: flex; 
  justify-content: space-between;
  /* align-items: center; */
  gap: 40px;
}

.stories-item_img {
  width: 33.333%;
  /* background: url(robin-noguier-sydwCr54rf0-unsplash.jpg); */
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories-item_img img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 16px;
}

.stories-item_txt {
  width: 63.333%;
}

.stories-item_title {
  margin-bottom: 24px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.stories-item_description {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.stories-item_description--mv {
  display: none;
}

.stories-item_link {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-decoration: underline;
}

.stories-item_link:hover {
  color: #FFFFFF;
  transition: color 0.3s;
}

.stories-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 13.5px 37px 13.5px 83.5px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.stories-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33px;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1439px) {
  .stories-item {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .stories-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
  }

  .stories-wrap {
    padding-bottom: 65px;
    background-image: url(../img/content/stories_bg-mv.jpg);
  }

  .stories-container {
    padding-top: 10px;
    padding-bottom: 13px;  
  }
  
  .stories-container_items {
    gap: 15px;
    padding-bottom: 10px;
  }

  .stories-item {
    gap: 10px;
  }

  .stories-item_img {
    width: 44.2%;
  }  

  .stories-item_txt {
    width: 55.8%;
    margin-top: -2px;
  }  

  .stories-item_title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
  }

  .stories-item_description {
    font-size: 9px;
    line-height: 11px;
  }

  .stories-item_description--dv {
    display: none;
  }

  .stories-item_description--mv {
    display: block;
  }

  .stories-item_link {
    display: block;

    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
  }

  .stories-btn {
    padding: 7.5px 13.5px 7.5px 29.5px;
    font-size: 11px;
    line-height: 15px;
    margin-top: 1px;
  }

  .stories-btn::before {
    left: 13.5px;
    width: 10px;
    height: 10px;  
  }  
}
@media (max-width: 389px) {
  .stories-item {
    align-items: center;
  }
}

/* Footer */
.footer {
  margin-top: -61px;
}

.footer-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
}

.footer-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-item {
  max-width: 34px;
}

.footer-link:hover {
  filter: brightness(0);
}

.footer-link img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .footer {
    margin-top: -65px;
  }
  
  .footer-wrap {
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 16.35px;
  }  

  .footer-title {
    display: none;
  }

  .footer-list {
    margin-left: 8px;
    gap: 19px;
  }

  .footer-item {
    max-width: 35px;
  }
}