html {
  scroll-behavior: smooth; 
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  word-wrap: break-word;
}

.header {
  background-color: #72a5d3;
  border-bottom: 4px solid #193f6e;
}

.header-wrap {
  /* ! */
}

.header-nav {
  margin: 0 25px 0 25px;
  padding: 25px 0;
}

.header-nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 25px;
  list-style: none;
}

.header-nav_item {
/* ! */
}

.header-nav_item-link {
  /* font-size: 18px; */
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.header-nav_item-link:hover {
  color: #193f6e;
  border-bottom: 2px solid #193f6e;
  transition: color 0.4s;
}

.main {
/* ! */
}

.self {
  display: flex;
  justify-content: flex-start;
  background-color: #72a5d3;
}

.self-img {
  max-width: 150px;
  margin: 25px;
}

.self-img img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.self-img:hover {
  transition: 0.4s;
  transform: scale(1.15);
}

.self-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px 0 150px;
}

.self-name_title {
  margin: 0 0 25px 0;
  /* font-size: 48px; */
  font-size: clamp(32px, 4vw, 48px);
  font-weight: 500;
  color: #e1ebec;
}

.self-name_title--bold {
  font-weight: 700;
}

.self-name_description {
  margin: 0;
  /* font-size: 26px; */
  font-size: clamp(16px, 3vw, 26px);
  font-weight: 500;
  color: #e1ebec;

}

.main-column {
  display: flex;
}

.main-column_left {
  width: 28%;
  background-color: #b1d3e3;
}

.contacts,
.skills,
.education,
.languages,
.about,
.experience {
  margin: 25px 0 25px 25px;
  padding: 0;
}

.contacts-title,
.skills-title,
.education-title,
.languages-title,
.about-title,
.experience-title,
.code-title {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  /* font-size: 20px; */
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: #193f6e;
  border-bottom: 3px solid;
}

.contacts-list,
.skills-list,
.education-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 5px 0 0;
  gap: 10px;
  list-style: none;
}

.contacts-item,
.skills-item,
.education-item {
  position: relative;
  min-height: 25px;
  margin: 0;
  padding: 0 0 0 35px;
  font-size: 16px;
  line-height: 1.7;
  color: #193f6e;
}
.contacts-item::before,
.skills-item::before,
.education-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-item--phone::before {
  background-image: url(../img/icons/phone-icon.png);
}

.contacts-item--mail::before {
  background-image: url(../img/icons/mail-icon.png);
}

.contacts-item--tg::before {
  background-image: url(../img/icons/telegram--icon.png);
}

.contacts-item--discord::before {
  background-image: url(../img/icons/discord-icon.png);
}

.contacts-item--git::before {
  background-image: url(../img/icons/github--icon.png);
}

.contacts-link,
.education-link {
  text-decoration: none;
  color: #193f6e;
}

.contacts-link:hover,
.education-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: color 0.4s;
}

.skills-item--html:before {
  background-image: url(../img/icons/html.png);
}

.skills-item--css:before {
  background-image: url(../img/icons/css.png);
}

.skills-item--js:before {
  background-image: url(../img/icons/js.png);
}

.skills-item--figma:before {
  background-image: url(../img/icons/figma.png);
}

.skills-item--gulp:before {
  background-image: url(../img/icons/gulp.png);
}

.education-subtitle,
.languages-subtitle {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #193f6e;
}

.education-list:first-of-type {
  margin: 0 0 20px 0;
}

.education-item:before {
  background-image: url(../img/icons/education-icon.png);
}

.main-column_right {
  width: 72%;
  background-color: #e1ebec;
}

.about,
.experience,
.code {
  margin: 25px 0 25px 150px;
  padding: 0;
}

.about-description,
.experience-description {
  margin: 0 0 10px 0;
  padding: 0 100px 0 0;
  font-size: 18px;
  line-height: 1.4;
  color: #193f6e;
}

.experience-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  gap: 10px;
  list-style: square;
}

.experience-item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #193f6e;
}

.experience-case {
  position: relative;
  min-height: 25px;
  padding: 0 0 0 35px;
  font-size: 18px;
  line-height: 1.4;
}

.experience-case::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.experience-link {
  text-decoration: none;
  color: #193f6e;
}

.experience-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: color 0.4s;
}

.experience-link:first-of-type {
  margin: 0 20px 0 0;
}

.code-contaner {
  margin: 0;
  padding: 0;
}

/* .code-example {
  font-size: 16px;
} */

.footer {
  background-color: #72a5d3;
  border-top: 4px solid #193f6e;
}

.footer-wrap {
  margin: 0 25px 0 25px;
  padding: 25px 0;
}

.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-item {
  max-width: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #193f6e;
}

.footer-link {
}

.footer-link img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (max-width: 990px) {
  .header-nav_list {
    gap: 10px;
  }
  .self-name {
    margin: 0 25px 0 105px;
  }
  .about,
  .experience,
  .code {
    margin: 25px 0 25px 45px;
  }
}

@media screen and (max-width: 890px) {
  .self-name {
    margin: 0 25px 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .self-img {
    max-width: 100px;
  }

  .self-name_title {
    margin: 0 0 5px 0;
  }

  .main-column {
    flex-direction: column;
  }

  .main-column_left {
    width: 100%;
    order: 2;
  }

  .contacts,
  .skills,
  .education,
  .languages,
  .about,
  .experience {
    margin: 25px 0 25px 45px;
  }  


  .main-column_right {
    width: 100%;
  }

  /* .about,
  .experience,
  .code {
    margin: 25px 0 25px 45px;
  } */

  .about-description,
  .experience-description {
    padding: 0 45px 0 0;
  }
}

@media screen and (max-width: 580px) {
  .self-name {
    margin: 0 25px 0 15px;
  }
}